<ul class="navbar-nav nav justify-content-end mr-sm-2">
<li class="nav-item">
  <%= link_to "マイページ", users_path, class: "nav-link fas fa-user" %>
</li>
<li class="nav-item">
  <%= link_to "新規投稿", new_post_path, class: "nav-link fas fa-new-post" %>
</li>
<li class="nav-item">
  <%= link_to "投稿一覧", posts_path, class: "nav-link fas fa-post" %>
</li>
<li class="nav-item">
  <%= link_to "ブックマーク", favorite_posts_user_path(current_user), class: "nav-link fas fa-bookmark" %>
</li>
<li class="nav-item">
  <%= link_to "検索", search_path, class: "nav-link fas fa-search" %>
</li>
<li class="nav-item">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link fas fa-sign-out-alt" %>
</li>
</ul>