<!--投稿詳細画面(admin)-->
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5">
      <h4 class="text-dark text-center title_bar">投稿履歴詳細</h4>
    </div>
    <div class="col-md-7 mt-5"></div>
  </div>

  <div class="row mt-3">
    <div class="col-md-8 offset-md-1">
      <table class="table table-bordered">
        <tr>
          <td class="font-weight-bold">投稿者</td>
          <td>
            <%= link_to @post.user.name, admin_user_path(@post.user) %>
          </td>
        </tr>

        <tr>
          <td class="font-weight-bold">投稿日</td>
          <td>
            <%= @post.created_at.to_s(:datetime_jp) %>
          </td>
        </tr>

        <tr>
          <td class="font-weight-bold">タイトル</td>
          <td>
            <%= @post.title %>
          </td>
        </tr>

        <tr>
          <td class="font-weight-bold">本文</td>
          <td>
            <%= @post.body %>
          </td>
        </tr>
      </table>
      <table>
  <% @post.post_comments.each do |comment| %>
        <tr>
          <td class="font-weight-bold">コメント</td>
          <td>
            <%= comment.comment %>
          </td>
<td><%= link_to "削除",admin_post_comment_path(comment.id), method: :delete %></td>
        </tr>
  <% end %>
      </table>
    </div>
  </div>
  </div>