<!--投稿詳細画面(admin)-->
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5">
      <h4 class="text-dark text-center title_bar">投稿履歴詳細</h4>
    </div>
    <div class="col-md-7 mt-5"></div>
  </div>

  <div class="row mt-3">
    <div class="col-md-8 offset-md-1">
      <table class="table table-bordered">
        <tr>
          <td class="font-weight-bold">投稿者</td>
          <td>
            <%= link_to @post.user.name, admin_user_path(@post.user) %>
          </td>
        </tr>

        <tr>
          <td class="font-weight-bold">投稿日</td>
          <td>
            <%= @post.created_at.to_s(:datetime_jp) %>
          </td>
        </tr>

        <tr>
          <td class="font-weight-bold"></td>
          <td>

          </td>
        </tr>

        <tr><td class="font-weight-bold"></td><td><%= @order._i18n %></td></tr>

        <tr><td></td><td></td></tr>

      </table>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8 offset-md-1">
      <table class="table table-bordered">
        <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% sum = 0 %>
          <% @order_items.each do |order_item| %>
            <tr>
              <td>
                <!--order_item.item.name-->
                <%= order_item.item.name %>
              </td>

              <td>
                <!--unit_price-->
                <%= order_item.unit_price %>
              </td>

              <td>
                <!--quantity-->
                <%= order_item.quantity %>
              </td>

              <td>
                <!--= unit_price x quantity-->
                <%= order_item.unit_price * order_item.quantity %>
                <% sum += (order_item.unit_price * order_item.quantity) %>
              </td>
            </tr>

          <% end %>
        </tbody>
      </table>
    </div>
    <!--<div class="col">-->
    <!--  <table class="table table-bordered">-->
    <!--    <tr><td class="font-weight-bold">商品合計</td><td><%= sum.to_s(:delimited) %>円</td></tr>-->
    <!--    <tr><td class="font-weight-bold">送料</td><td><%= @order.postage %>円</td></tr>-->
    <!--    <tr><td class="font-weight-bold">請求金額合計</td><td class="font-weight-bold"><%= (@order.payment).to_s(:delimited) %>円</td></tr>-->
    <!--  </table>-->
    <!--</div>-->
  </div>

</div>